<template>
  <div class="about">
    <user-card></user-card>
    <wishlist-item-component></wishlist-item-component>
  </div>
</template>
<script>
import userCard from "@/components/UserCard";
import WishlistItemComponent from "@/components/WishlistItemComponent";
export default {
  components: {WishlistItemComponent, userCard}
}
</script>
