<template>
  <div class="main" :style="mainStyle">
    <h1>Iniciar Sesión</h1>
    <input
        type="text"
        name="email"
        id="email"
        placeholder="Correo Electronico"
        :style="input"
    />
    <br/>
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        :style="input"
    />
    <br/>
    <input
        type="button"
        value="Iniciar sesión"
        class="button"
        :style="inputStyle"
    />
    <br/>
    <h4>No tienes cuenta? <router-link to="/signup">Registate</router-link></h4>
  </div>
</template>

<script>
export default {
name: "LoginView"
}
</script>

<style scoped>
@import '@/assets/loginAndSignUp.css';
</style>