<template>

  <div class="main" :style="mainStyle">
    <h1>Registro</h1>
    <div style="display: flex;width: 52%; padding-left: 24%">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre(s)"
        style="width: 50%"
        :style="input"
    />
    <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Apellido(s)"
        :style="input"
    />
    </div>
    <input
        type="text"
        name="email"
        id="email"
        placeholder="Correo Electroníco"
    />
    <br/>
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        :style="input"
    />
    <br/>
    <input
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        placeholder="Confirmar Contraseña"
        :style="input"
    />
    <br/>
    <input
        type="button"
        value="Registrarse"
        class="button"
        :style="inputStyle"
    />
    <br/>
    <h4>Tienes cuenta? <router-link to="/login">Inicia Sesion</router-link></h4>
  </div>
</template>

<script>
export default {
name: "SignUpView"
}
</script>

<style >

.main {
  top: 10%;
}
</style>