<template>
<div id="container">
  <div class="card">
    <div class="title">
      Prioridad
    </div>
    <img  src="itemimage.jpg" alt="itemImage">
    <div class="cardContent">
      <div class="category">
        <span class="tag">Categoria1</span>
        <span class="tag">Categoria2</span>
      </div>
      <div class="itemName">Nombre Producto</div>
      <p>Descripcion del producto</p>
<!--      Productos favoritos corazon relleno fa-solid fa-heart-->
<!--      productos no favoritos corazon sin relleno fa-regular fa-heart-->
      <button><i class="fa-regular fa-heart"></i></button>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "WishlistItemComponent"
}
</script>

<style scoped>
img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}
#container {
  max-width: 500px;
  max-height: 500px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 20vh;
}
.card {
  /* Change background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 500px;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}
button {
  border: none;
  background: none;
  font-size: 24px;
  color: #007ad6;
  cursor: pointer;
  transition:.5s;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}
.itemName {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}
.cardContent {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
</style>
